{% extends 'itech/base.html' %}
{% load static %}

{% block title %}
I-Tech | Daftar Sukses
{% endblock %}

{% block body-bg %}
{% static '/itech/assets/img/bg/body-bg2.webp' %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static '/itech/assets/css/suksesvalo.css' %}">
<div class="bg-img" style="background-image: url({% static '/itech/assets/img/bg-2.png' %}); padding-top: 10rem;">
  <section class="gaming_world_section mb-140">
    <div class="container">
      <div class="section_title text-center wow fadeInUp mb-60" data-wow-delay="0.1s" data-wow-duration="1.1s">
        <h3>
          Silahkan Klik Link di Bawah Untuk Bergabung ke Group WhatsApp Valorant </br> <a
            href="https://chat.whatsapp.com/H0R8FG3u46hAthDcgiajNa"
            style="text-decoration: underline;">https://chat.whatsapp.com/H0R8FG3u46hAthDcgiajNa</a>
        </h3>
      </div>
    </div>
  </section>
</div>

{% endblock %}